extends layout

block content
  article
    header
      .media.header-media
        img(src='http://www.gravatar.com/avatar/2ad6ebafae880b4bedcadb214c558caa.png', alt='Wee Mee', class='img-rounded pull-left')
        .media-body
          h1 Web Developer
          p.lead Specialising in profitable, commercial and communication solutions for you unique business requirements.

    p Hi there,

    p My name is John Wright and I'm a freelance Web Developer. I've had over 5 years experience with web sites large and small. I'm senior in both backend and frontend development and I'm highly skilled in search engine optimisation helping you get the customers to your site.

    p
      | If you'd like to hire me, have any enquiries or just fancy a chat, please don't hesitate to&nbsp;
      a(href='mailto:johngeorge.wright@gmail.com') contact me

