extends layout

block content
  article
    header
      h1
        | Web Developer /&nbsp;
        acronym(title='Search Engine Optimisation') SEO
        | &nbsp;Webmaster /&nbsp;
        acronym(title='User Experience') UX
        | &nbsp;Designer

      p.lead Specialising in profitable, commercial and communication solutions for you unique business requirements.

    p Hi there,

    p My name is John Wright and I'm a freelance Web Developer. I've had over 5 years experience with web sites large and small. I'm senior in both backend and frontend development and I'm highly skilled in search engine optimisation helping you get the customers to your site.

    p
      | If you'd like to hire me, have any enquiries or just fancy a chat, please don't hesitate to&nbsp;
      a(href='mailto:johngeorge.wright@gmail.com') contact me

