mixin navItem(href, text)
  if isRoute(href)
    className = 'active'
  else
    className = []
  li(class=className)
    a(href=href)= text

doctype 5

html
  head
    title
      block title
        | John Wright | Web Developer | SEO Webmaster | UX Designer
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/base.css')
    script
      document.getElementsByTagName('html')[0].className+='js-enabled js-loading'

  body
    .container.body
      block content

    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          nav
            a.brand(href='/')
              abbr(title='John Wright')
                span.jw-logo-tag-delim &lt;
                | j
                span.jw-logo-tag-delim &gt;&lt;/
                | w
                span.jw-logo-tag-delim &gt;
            ul.nav.pull-right
              mixin navItem('/portfolio', 'Portfolio')
              mixin navItem('/prices', 'Prices')
              mixin navItem('mailto:johngeorge.wright@gmail.com', 'Contact')

    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

    script
      jQuery(function(){jQuery('html').addClass('js-loaded').removeClass('js-loading')})

