mixin navItem(href, text)
  if isRoute(href)
    className = 'active'
  else
    className = []
  li(class=className)
    a(href=href)= text

doctype 5

html
  head
    meta(encoding='utf8')
    meta(name='robots', content=allowRobots ? 'index, follow' : 'noindex, nofollow')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
        | John Wright | Web Developer | SEO Webmaster | UX Designer
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/base.css')
    script
      document.getElementsByTagName('html')[0].className+='js-enabled js-loading'

  body
    ul.ah
      li
        a(href="#body") Skip to content

    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse', href='#main-nav') Menu
          nav#main-nav
            a.brand(href='/')
              abbr(title='John Wright')
                span.jw-logo-tag-delim &lt;
                | j
                span.jw-logo-tag-delim &gt;&lt;/
                | w
                span.jw-logo-tag-delim &gt;
            .nav-collapse.collapse
              ul.nav.pull-right
                //mixin navItem('/professional-background', 'Professional Background')
                mixin navItem('/portfolio', 'Portfolio')
                mixin navItem('/prices', 'Prices')
                mixin navItem('mailto:johngeorge.wright@gmail.com', 'Contact')

    #body.container
      block content

    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
      script(src='/javascripts/bootstrap-min.js')

    script
      jQuery(function(){jQuery('html').addClass('js-loaded').removeClass('js-loading')})

