extends layout

prepend title
  | Prices |&nbsp;

block content
  article
    h1 Prices
    p Quotes are generally dependant on the size of the project. My freelance work is also a hobby and therefore I can be very competitive with prices. Get in contact if you'd like a quote.

