extends layout

prepend title
  | Technologies |&nbsp;

block content
  article
    header
      h1 Technologies
      p A short list of technologies I've used in the past.

    h2 Server-side
    ul.logos
      li
        a.php-logo(href='http://www.php.net', title='PHP') PHP
      li
        a.sf-logo(href='http://symfony.com', title='Symfony') Symfony
      li
        a.smarty-logo(href='http://www.smarty.net', title='Smarty') Smarty
      li
        a.node-logo(href='http://nodejs.org', title='Node.js') Node.js
      li
        a.magnolia-logo(href='http://www.magnolia-cms.com', title='Magnolia') Magnolia
      li
        a.ruby-logo(href='http://www.ruby-lang.org', title='Ruby') Ruby
      li
        a.rails-logo(href='http://rubyonrails.org', title='Ruby on Rails') Rails

    h2 Client-side
    ul.logos
      li
        a.html5-logo(href='http://dev.w3.org/html5/spec/single-page.html', title='HTML5') HTML5
      li
        a.jquery-logo(href='http://jquery.com', title='jQuery') jQuery
      li
        a.yui-logo(href='http://yuilibrary.com', title='YUI') YUI
      li
        a.css3-logo(href='http://www.w3.org/Style/CSS/Overview.en.html', title='CSS2/3') CSS2/3
      li
        a.moo-logo(href='http://mootools.net', title='Mootools') Mootools
      li
        a.less-logo(href='http://lesscss.org', title='Less') Less
      li
        a.stylus-logo(href='http://learnboost.github.com/stylus/', title='Stylus') Stylus

    h2 Versioning systems
    ul.logos
      li
        a.git-logo(href='http://git-scm.com', title='Git') Git
      li
        a.svn-logo(href='http://subversion.tigris.org', title='Subversion') Subversion

    h2 Other tools &amp; platforms
    ul.logos
      li
        a.ubuntu-logo(href='http://www.ubuntu.com', title='Ubuntu') Ubuntu
      li
        a.gimp-logo(href='http://www.gimp.org', title='GIMP') GIMP

