extends layout

prepend title
  | Technologies |&nbsp;

block content
  article
    header
      h1 Technologies
      p A short list of technologies I've used in the past.

    h2 Server-side
    ul.logos
      li
        a.php-logo PHP
      li
        a.sf-logo Symfony
      li
        a.node-logo Node.js
      li
        a.magnolia-logo Magnolia
      li
        a.ruby-logo Ruby
      li
        a.rails-logo Rails
      li
        a.smarty-logo Smarty

    h2 Client-side
    ul.logos
      li
        a.html5-logo HTML5
      li
        a.jquery-logo jQuery
      li
        a.yui-logo YUI
      li
        a.css3-logo CSS2/3
      li
        a.moo-logo Mootools
      li
        a.less-logo Less
      li
        a.stylus-logo Stylus

    h2 Versioning systems
    ul.logos
      li
        a.git-logo Git
      li
        a.svn-logo Subversion

    h2 Other tools &amp; platforms
    ul.logos
      li
        a.ubuntu-logo Ubuntu
      li
        a.gimp-logo GIMP

