/* =Layout
---------------------------------------------------------------------*/
html,body {
	height: 100%;
}

#jw-wrapper {
	min-height: 100%;
	background-image: url(/images/light_tile.gif);
}

/* =Accessibility
---------------------------------------------------------------------*/
.jw-ah {
	display: none;
}

/* =Typography
---------------------------------------------------------------------*/
body {
	color: #2a2720;
}

a,a:hover {
	color: #17181D;
}

a:visited {
	color: #070A13;
}

#jw-content h2 {
	font-size: 197%;
}

/* =Clearfix
---------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* =Blocks
---------------------------------------------------------------------*/
.jw-light {
	background: #FAF7EC;
}

.jw-dark {
	background-color: #2A2720;
	color: #94917A;
}

.jw-dark a,.jw-dark a:hover,.jw-dark a:visited {
	color: #787C8E;
}

/* =Header
---------------------------------------------------------------------*/
#jw-header {
	height: 4em;
	box-shadow: 0 0 5px #2A2720;
	-moz-box-shadow: 0 0 5px #2A2720;
	-webkit-box-shadow: 0 0 5px #2A2720;
	position: relative;
	z-index: 2;
}

#jw-logo {
	font-family: "Courier New", "Lucinda Console", Consolas, monospace;
	font-size: 197%;
	line-height: 2em;
	color: #989CAE;
	width: 990px;
	margin: 0 auto;
}

.jw-logo-tag-delim {
	color: #383C4E;
}

/* =Nav
---------------------------------------------------------------------*/
#jw-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	height: 4em;
	text-align: center;
	z-index: 3;
	text-align: right;
}

#jw-nav ul {
	width: 990px;
	margin: 0 auto;
}

#jw-nav li {
	display: inline;
	line-height: 4em;
	padding: 1.4em;
}

#jw-nav li a {
	line-height: 4em;
}

#jw-nav li a,#jw-nav li a:hover,#jw-nav li a:visited {
	color: #FAF7EC;
	text-decoration: none;
	text-transform: uppercase;
}

#jw-nav li.jw-active {
	background-color: #0F0E0A;
}

/* =Content
---------------------------------------------------------------------*/
#jw-content {
	padding: 1em 1em;
	width: 990px;
	margin: 0 auto;
	box-shadow: 0 10px 10px 10px #FAF7EC;
}

/* =Home page
---------------------------------------------------------------------*/
.jw-info-important {
	font-size: 116%;
	color: #71332E;
}

/* =Portfolio
---------------------------------------------------------------------*/
.jw-info-portfolio-items {
	margin: 2em 0;
	width: 100%;
}

#jw-info-portfolio-item-tr .jw-info-portfolio-item-image {
	background-color: #FC6A02;
}

#jw-info-portfolio-item-gh .jw-info-portfolio-item-image {
	background-color: #FFFFFF;
}

#jw-info-portfolio-item-ispolson .jw-info-portfolio-item-image {
	background-color: #003200;
}

#jw-info-portfolio-item-ag .jw-info-portfolio-item-image {
	background-color: #262626;
}

#jw-info-portfolio-item-tangmere .jw-info-portfolio-item-image {
	background-color: #ACBAD4;
}

#jw-info-portfolio-item-zs .jw-info-portfolio-item-image {
	background-color: #B6C5C8;
}

#jw-info-portfolio-item-khadi .jw-info-portfolio-item-image {
	background-color: #8da420;
}

#jw-info-portfolio-item-partimi .jw-info-portfolio-item-image {
	background-color: #FFFFFF;
}

#jw-info-portfolio-item-rdi .jw-info-portfolio-item-image {
	background-color: #c4c6b0;
}

#jw-info-portfolio-item-tippingpoint .jw-info-portfolio-item-image {
  background-color: #231f20;
}

.jw-info-portfolio-item {
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #E3E0D7;
  box-shadow: 0 3px 8px #8A8780;
	background-color: #EAE7DE
}

.jw-info-portfolio-item .jw-info-portfolio-item-heading {
	background-color: #E3E0D7;
	padding: 1em;
	margin: 0;
}

.jw-info-portfolio-item-image {
	text-align: center;
	padding: 1em;
	height: 150px;
}

.jw-info-portfolio-item-description {
	margin: 0;
	padding: 1em;
	font-size: 85%;
}

.jw-info-portfolio-item-description dl {
	padding: 0;
	margin: 0;
}

.jw-info-portfolio-item-description dl dt,
.jw-info-portfolio-item-description dl dd	{
	padding: 0;
	margin: 0 0 0.7em;
}

.jw-info-portfolio-item-description dl dd {
	word-wrap: break-word;
}

/* =YUI
---------------------------------------------------------------------*/
.yui3-js-enabled .yui3-loading {
	display: none;
}

.jw-description-overlay {
	background-color: #FFFFFF;
	opacity: 0.9;
}
