#jw-header {
	background-color: transparent;
	box-shadow: none;
	padding: 0 1em;
}

#jw-logo {
	width: auto;
	margin: 0;
}

#jw-nav {
	display: none;
}

#jw-wrapper,.jw-light {
	background: transparent none;
}

#jw-content {
	box-shadow: none;
	width: auto;
	margin: 0;
}