@import 'bootstrap';

@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;

body {
  background-image: url(/images/light_tile.gif);
}

.brand {
  font-family: @monoFontFamily;

  abbr {
    border: none;
  }

  .jw-logo-tag-delim {
    color: #383C4E;
  }
}

.body {
  padding: 50px 1em 1em;
  background-color: @bodyBackground;
  box-shadow: 0 10px 10px 10px @bodyBackground;
}

