@import 'bootstrap';
@import 'responsive';

@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;

body {
  background-image: url(/images/light_tile.gif);
}

.brand {
  font-family: @monoFontFamily;

  abbr {
    border: none;
    cursor: pointer;
  }

  .jw-logo-tag-delim {
    color: #383C4E;
  }
}

#body {
  padding: 50px 1em 1em;
  background-color: @bodyBackground;
  box-shadow: 0 10px 10px 10px @bodyBackground;
}

@media (max-width: 979px) {
  #body {
    padding-top: 0;
  }
}

h2 { border-bottom: 1px solid #CCCCCC; }

section h1 { font-size: @baseFontSize * 2.25; border-bottom: 1px solid #CCCCCC; } // ~32px
section h2 { font-size: @baseFontSize * 1.75; } // ~24px
section h3 { font-size: @baseFontSize * 1.25; } // ~18px
section h4 { font-size: @baseFontSize; }
section h5 { font-size: @baseFontSize * 0.85; } // ~12px
section h6 { font-size: @baseFontSize * 0.55; }

.jw-portfolio-item {
  .well {
    padding-top: 0.5em;
    padding-bottom: 0;
    position: relative;

    h1 {
      font-size: 100%;
      line-height: 20px;
      border-bottom: none;
    }

    .jw-portfolio-logo {
      text-align: center;
      margin: 0 -19px;
      height: 150px;
      padding: 1em;
    }
  }

  .jw-portfolio-description {
    font-size: 85%;
    width: 100%;
    background-color: #FFFFFF;

    .jw-portfolio-description-inner {
      padding: 1em;

      dt {
        word-wrap: break-word;
        margin-left: 0;
      }
    }
  }
}

.jw-portfolio-amaysim .jw-portfolio-logo {
  background-color: #FFFFFF;
}

.jw-portfolio-tr .jw-portfolio-logo {
  background-color: #FC6A02;
}

.jw-portfolio-khadi .jw-portfolio-logo {
  background-color: #8DA420;
}

.jw-portfolio-zs .jw-portfolio-logo {
  background-color: #B6C5C8;
}

.jw-portfolio-partimi .jw-portfolio-logo,
.jw-portfolio-gh .jw-portfolio-logo {
  background-color: #FFFFFF;
}

.jw-portfolio-ispolson .jw-portfolio-logo {
  background-color: #003200;
}

.jw-portfolio-ag .jw-portfolio-logo {
  background-color: #262626;
}

.jw-portfolio-tangmere .jw-portfolio-logo {
  background-color: #ACBAD4;
}

.jw-portfolio-rdi .jw-portfolio-logo {
  background-color: #C4C6B0;
}

.jw-portfolio-tp .jw-portfolio-logo {
  background-color: #231F20;
}

.js-enabled .jw-portfolio-description {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  overflow: hidden;
}

.js-loading .jw-portfolio-description {
  visibility: hidden;
}

.jw-portfolio-toggle {
  .btn;

  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

// Accessibility
@off-screen: -99999px;

.ah {
  position: absolute;
  top: @off-screen;
  left: @off-screen;
}

.phark() {
  display: block;
  text-indent: @off-screen;
  background-color: transparent;
  background-repeat: no-repeat;
}

.tech-logo() {
  .phark;
  height: 60px;
  background-image: url(/images/logos.png);
}

.php-logo {
  .tech-logo;
  width: 122px;
  background-position: left top;
}

.node-logo {
  .tech-logo;
  width: 213px;
  background-position: -122px top;
}

.sf-logo {
  .tech-logo;
  width: 240px;
  background-position: -599px top;
}

.jquery-logo {
  .tech-logo;
  width: 264px;
  background-position: -335px top;
}

.yui-logo {
  .tech-logo;
  width: 135px;
  background-position: -839px top;
}

.css3-logo {
  .tech-logo;
  width: 194px;
  background-position: -974px;
}

.html5-logo {
  .tech-logo;
  width: 44px;
  background-position: -1168px;
}

.moo-logo {
  .tech-logo;
  width: 240px;
  background-position: -1212px;
}

.magnolia-logo {
  .tech-logo;
  width: 220px;
  background-position: -1559px top;
}

.ruby-logo {
  .tech-logo;
  width: 60px;
  background-position: -1452px top;
}

.rails-logo {
  .tech-logo;
  width: 47px;
  background-position: -1512px top;
}

.gimp-logo {
  .tech-logo;
  width: 73px;
  background-position: -1779px top;
}

.less-logo {
  .tech-logo;
  width: 147px;
  background-position: -1852px top;
}

.stylus-logo {
  .tech-logo;
  width: 63px;
  background-position: -1999px top;
}

.smarty-logo {
  .tech-logo;
  width: 202px;
  background-position: -2062px top;
}

.git-logo {
  .tech-logo;
  width: 60px;
  background-position: -2264px top;
}

.svn-logo {
  .tech-logo;
  width: 69px;
  background-position: -2324px top;
}

.ubuntu-logo {
  .tech-logo;
  width: 230px;
  background-position: -2393px top;
}

ul.logos {
  list-style: none;
  margin: 0 0 4em;

  li {
    display: inline-block;
    .ie7-inline-block;
    margin-bottom: 1em;
    margin-right: 4em;
  }
}

