.jw-portfolio-item section .well {
  padding-top: 0.5em;
  padding-bottom: 0;
  position: relative;
}
.jw-portfolio-item section .well h1 {
  font-size: 100%;
  line-height: 20px;
}
.jw-portfolio-item section .well .jw-portfolio-logo {
  text-align: center;
  margin: 0 -19px;
  height: 150px;
  padding: 1em;
}
.jw-portfolio-item .jw-portfolio-description {
  font-size: 85%;
}
.jw-portfolio-item .jw-portfolio-description dt {
  margin-left: 0;
}
.jw-portfolio-amaysim .jw-portfolio-logo {
  background-color: #FFFFFF;
}
.jw-portfolio-tr .jw-portfolio-logo {
  background-color: #FC6A02;
}
.jw-portfolio-khadi .jw-portfolio-logo {
  background-color: #8DA420;
}
.jw-portfolio-zs .jw-portfolio-logo {
  background-color: #B6C5C8;
}
.jw-portfolio-partimi .jw-portfolio-logo,
.jw-portfolio-gh .jw-portfolio-logo {
  background-color: #FFFFFF;
}
.jw-portfolio-ispolson .jw-portfolio-logo {
  background-color: #003200;
}
.jw-portfolio-ag .jw-portfolio-logo {
  background-color: #262626;
}
.jw-portfolio-tangmere .jw-portfolio-logo {
  background-color: #ACBAD4;
}
.jw-portfolio-rdi .jw-portfolio-logo {
  background-color: #C4C6B0;
}
.jw-portfolio-tp .jw-portfolio-logo {
  background-color: #231F20;
}
.js-enabled .jw-portfolio-description {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 0 1em;
  overflow: hidden;
}
.js-loading .jw-portfolio-description {
  visibility: hidden;
}
